@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Open+Sans+Condensed:300,700');
/*
dark blue - #2B2D70
purple - #562D89
teal - #24BEC9
*/
body{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    margin: auto;
    align-content: center;
}

header img{
    width: 70%;
    display: inline-block;
    margin: 0 15% -7% 15%;
}

header h2{
    width: 50%;
    font-size: 60px;
    font-weight: 300;
    color: #008e92;
    text-align: center;
    margin: 0 25%;
}

header h3{
    width: 50%;
    font-size: 60px;
    font-weight: 300;
    color: #672d71;
    text-align: center;
    margin: 0 25%;
}

header h4{
    width: 60%;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    color: #666666;
    text-align: center;
    margin: 2% 20%;
}

#container {
    padding-left: 10%;
    padding-right: 10%; 
}

form{
    width: 80%;
    display: block;
    float: left;
    padding: 2.5%;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.3);
    margin: 2.5% 10%;
}

form h2{
    color: #008e92;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

form textarea{
    width: 80%;
    height: 200px;
    display: block;
    margin: 0 10%;
}

form textarea::placeholder{
    font-weight: 300;
    font-size: 24px;
}

input[type=submit]{
    font-size: 16px;
    padding: 1% 2%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
    background-image: linear-gradient(#008e92, #05627e);
    color: #fff;
    margin-left: 85%;
}

#status_div{
    width: 60%;
    display: block;
    float: left;
    padding: 2.5%;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.3);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2.5%;
}

#status_div h2{
    font-weight: 300;
    color: #672d71;
    text-align: center;
}

#status_div p{
    color: #672d71;
    text-align: center;
}

.status {
    text-align: center;
    padding: 2% 0;
    margin: 0 25%;
}

#low{
    background: rgb(0, 254, 102);
}

#moderate{
    background: rgb(240, 255, 78);
}

#high{
    background: rgb(220, 62, 0);
}

.graph {
    width: 100%;
    margin: 1%;
    padding: 1%;
    display: inline-block; 
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.3);
}

.graph p{
    font-size:18px;
}

.graph canvas{
    width: 100%;
    height: 500px;
}




